@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppings', sans-serif;
} 

body {
  min-height: 100vh;
  background: linear-gradient(red, blue);
}

main {
  border: 1px solid black;
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #3a4346;
  color: #f0f6f8;
  border-radius: 6px;
}